<h2> Caf.js </h2>

<h3> Confirm your email address </h3>

<p> Your confirmation code is below. Please enter it in your open-browser window to activate your account.</p>

<h3> {{{code}}} </h3>

<p> If you didn't request this email you can safely ignore it. </p>


<p> The Caf.js Team </p>
