<h2> Caf.js Labs LLC</h2>

<h3> WARNING: THIS IS JUST A TEST NOT A REAL ORDER CONFIRMATION </h3>

<h3> Test Order Confirmation: {{id}} </h3>

<p>  Hi {{{username}}} </p>

<p> Thank you for your order of {{{units}}} units for a total price of ${{{value}}}.</p>

<h3> Your new balance is {{{balance}}} units.</h3>


<p> The Caf.js Labs Team </p>
