<h2> Caf.js </h2>

<h3> Order Confirmation: {{id}} </h3>

<p>  Hi {{{username}}} </p>

<p> Thank you for your order of {{{units}}} units for a total price of ${{{value}}}.</p>

<h3> Your new balance is {{{balance}}} units.</h3>


<p> The Caf.js Team </p>
