<h2> Caf.js Labs LLC</h2>

<h3> Reset your account </h3>

<p>  Hi {{{username}}} </p>

<p> Your reset code is below. Please enter it in your open-browser window to change your password.</p>

<h3> Username: {{{username}}} </h3>

<h3> Code: {{{code}}} </h3>



<p> If you didn't request this email you can safely ignore it. </p>


<p> The Caf.js Labs Team </p>
